// SOEHNE
@font-face {
  font-family: Soehne;
  src: url(../font/Soehne/soehne-buch.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Soehne;
  src: url(../font/Soehne/soehne-buch-kursiv.woff2);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Soehne;
  src: url(../font/Soehne/soehne-halbfett.woff2);
  font-weight: bold;
  font-style: normal;
}

// SOEHNE MONO
@font-face {
  font-family: Soehne-mono;
  src: url(../font/Soehne/soehne-mono-buch.woff2);
  font-weight: normal;
  font-style: normal;
}

// SIGNIFIER
@font-face {
  font-family: signifier;
  src: url(../font/Signifier/TestSignifier-Light.otf);
  font-weight: normal;
  font-style: normal;
}

// KATEX
@font-face {
  font-family: katex;
  src: url(../font/katex/KaTeX_Main-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: katex;
  src: url(../font/katex/KaTeX_Math-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}
